.Landing{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px;
}

.hero{
    width: 100%;
    height: calc(100vh - 250px);
    min-height: 600px;
    background-image: url('hero.png');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.hero-details{
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left:10%;
    top:20%;
}

.hero-details p{
    max-width: 400px;
    font-size: 1.4em;
}

.demo-button{
    height: 38px;
    width: 160px;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 8px 10px 5px 10px;
    cursor: pointer;
    border: 2px solid #000000;
    background-color:rgb(229,229,229);
    text-align:center;
    text-transform: uppercase;
    transition: all 0.1s;
    text-decoration: none;
    color: black;
    display: block;
}

.demo-button:hover,
.demo-button:active{
    background-color: #faeb03;;
}
