.CompareProducts{
    width:100%;
}

th{
    padding:20px;
}

td, tr, th{
    border: 1px solid rgb(230, 230, 230);
    border-collapse: collapse;
}



.compare-table{
    margin:20px auto;
    text-align: center;
}

.compare-table a{
    color: #000000;
    text-transform: uppercase;
}

.compare-table a:hover,
.compare-table a:focus{
    color: #333333;
}

.compare-logo{
    height: 180px;
    padding: 10px;
}

.compare-product-name{
    display: block;
    margin: 5px 0;
}