.Header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top:0;
    z-index: 999;
    background-color:#faeb03;;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.header-container{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header a,
.Header a:link,
.Header a:active{
    color: black;
    text-decoration: none;
}

.header-brand{
    display: flex;
}

.header-brand span{
    font-size: 1.7em;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.header-brand span:after{
    content: 'SP';
}

.header-menu ul{
    margin: 0;
    margin-top: 8px;
    display: flex;
    list-style-type: none;
    align-self: center;
}

.header-menu li{
    margin-right: 10px;
    align-self: center;
}

.header-menu a{
    color:#333333
}
.header-menu a:hover{
    text-decoration: underline;
    color: black;
}

.header-compare{
    display: none;
    margin-left: auto;
}

.header-button:hover,
.header-button:focus{
    background-color:#333333;
    color:white

}
.show-compare{
    display: flex;
}

.header-loggedin{
    display: none;
}

.header-loggedin a{
    display: block;
    margin-top: 8px;
    text-decoration: underline !important;
    font-size: 1em;
}

.show-loggedin{
    display: block;
}

@media screen and (min-device-width: 736px){
    .header-container{
        width: 90%;
        margin: 0 auto;
    }

    .header-brand span:after{
        content: 'Simple Product App';
    }
}

