*{
    box-sizing: border-box;
}

.App{
    min-width: 400px;
}

.Main{
    padding-top: 120px;
    padding-bottom: 40px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-header h1{
    margin: 20px auto;
    text-transform: uppercase;
    
}

.nav-button{
    align-self: center;
}

.nav-button a{
    color: #000000;
    text-decoration: none;
}

.nav-button a:hover,
.nav-button a:focus{
    color: #333333
}

.products-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-device-width: 800px){
    .Main{
       width: 100%;
       height: auto;
       margin: 0 auto;
    }
 
 }