.App{
   max-width: 1200px;
}

h1{ 
   font-family: 'Nunito', sans-serif;
   font-size: 2.4em; 
   font-weight: 900;
}
h2{ 
   font-size: 2em; 
   font-family: 'Nunito', sans-serif;
}

@media screen and (min-device-width: 800px){
   .App{
      width: 80%;
      margin: 0 auto;
   }

}
