.Footer{
    width: 100%;
    height: 170px;
    min-width: 414px;
    background-color: #000;
    color: white;
    position: absolute;
    left: 0;
}

.footer-container{
    padding: 20px;
}

.Footer a,
.Footer a:link,
.Footer a:active{
    color: white;
    text-decoration: none;
}

.Footer a:hover{
    text-decoration: underline;
}

.footer-branding img{
    height: 30px;
}
.footer-branding p{
    font-size: 0.8em;
    color:rgb(229, 229, 229);
}

@media screen and (min-device-width: 736px){
    .footer-container{
       width: 90%;
       margin: 0 auto;
    }
 }
 