.Product{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.demo-intro{
    width: 80%;
    margin: 20px auto 40px auto;
    padding: 0 10px;
    font-size: 1.4em;
    line-height: 1.3em;
}

.product-link{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-link a{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    color: white
}

.product-link a:hover{
    text-decoration: underline;
}

.product-information{
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 0 1px 0 black;
}

.product-information h2{
    margin: 0 10px 0 0;
    text-transform: uppercase;
}

.compare-button, 
.compare-button:active,
button,
button:active{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid #000000;
    background-color:rgb(229,229,229);
    text-align:center;
    text-transform: uppercase;
    transition: all 0.1s;
}

.Product .compare-button{
    margin-top:10px
}

.compare-button:hover, button:hover{
    background-color: #faeb03;;
} 

.compare-button:focus, button:focus{
    outline: 2px solid #FFFFFF;
}

.clicked-button{
    background-color: #faeb03;;
}

@media screen and (min-device-width: 800px){
    .Product{
        width: calc(50% - 20px);
        height: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    
    .Product .compare-button{
        margin: 10px 0;
        width: 150px;
     }
     
 
 }